@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

/* #region -- vars and base value */

:root {
    --main-color: #ff6f00;
    --main-color-dark: #c55600;
    --main-color-light: #ffa763;
    --secondary-color: #00796b;
    --secondary-color-dark: #006258;
    --secondary-color-light: #089888;
    --accent-color: #f9a825;
    --accent-color-dark: #d18406;
    --accent-color-light: #f9cc25;
    --white: #fff;
    --white-accent: #cecece;
    --dark-color: #283593;
    --dark-color-dark: #0b1459;
    --dark-color-light: #656eb5;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* #endregion -- vars and base value */

/* #region -- Fonts */
.logo {
    font: italic bold 24px Montserrat, sans-serif;
}

.header-link,
p {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font: 48px Lobster, cursive;
}

h2 {
    font: 800 36px "Open Sans", sans-serif;
}

blockquote p {
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
}

figcaption {
    font-weight: bolder;
    font-size: larger;
}

.header a {
    text-decoration: none;
}

.headings-info p {
    font-size: smaller;
}

button {
    font-weight: bold;
    font-size: 16px;
}

/* #endregion */

/* #region -- Coloring */
/* #region -- headings */
.head-container {
    background-color: var(--dark-color-dark);
    color: var(--main-color);
}

.header {
    background-color: var(--dark-color-dark);
    color: var(--main-color);
}

.header a {
    color: var(--main-color-light);
}

.headings-info p {
    color: var(--main-color-dark);
}

button {
    background-color: var(--main-color-light);
    color: var(--dark-color-dark);
}

/* #endregion -- headings */

/* Content */
/* #region -- content */

.card-image {
    border-color: var(--accent-color);
}

.content h2 {
    color: var(--dark-color);
}

.card p {
    color: var(--main-color-dark);
}

/* #endregion -- content */

/* #endregion -- Coloring */

/* #region -- Shapes */

/* #region -- headings */

.head-container {
    padding: 1rem 20% 1.6rem;
}

button {
    padding: 6px 18px;
    border-radius: 6px;
}

h1 {
    margin: 0;
}

.headings {
    display: flex;
    margin: 1rem 0 0;
}

.headings-image {
    width: 600px;
    min-height: 200px;
    border: 1px solid;
    align-self: center;
    margin-left: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-link ul {
    display: flex;
    gap: 16px;
}

/* #endregion -- headings */

/* #region -- content */

.content {
    margin: 0;
    padding: 1rem 20%;
    text-align: center;
}

h2 {
    margin: 0;
}

.cards-container {
    margin: 2rem 0;
}

.cards-container ul {
    display: flex;
    max-width: inherit;
    overflow: scroll hidden;
    gap: 1.5rem;
}

.card {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-image {
    border-width: 5px;
    border-style: solid;
    width: 10rem;
    height: 10rem;
    border-radius: 10%;
}

/* #endregion -- content */

/* #region -- quotes */

.quote {
    padding: 1rem 25%;
    margin: 0;
}

/* #endregion -- quotes */

/* #endregion -- Shapes */
