body {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-link ul {
    display: flex;
    gap: 16px;
}