@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Montserrat:ital,wght@0,500;0,700;1,500;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

:root {
    --main-color: #ff6f00;
    --secondary-color: #00796b;
    --accent-color: #f9a825;
    --white: #fff;
    --dark-color: #283593;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    padding: 0 8rem 0 8rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header-link ul {
    display: flex;
    gap: 16px;
}

/* Fonts */

.logo {
    font: italic bold 24px Montserrat, sans-serif;
}

.header-link,
p {
    font-family: "Open Sans", sans-serif;
}

h1 {
    font: 48px Lobster, cursive;
}

h2 {
    font: 800 36px "Open Sans", sans-serif;
}

blockquote p {
    font-weight: lighter;
    font-size: 36px;
    font-style: italic;
}

figcaption {
    font-weight: bolder;
    font-size: larger;
}
